<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>--company-id</key>
        <string>com.spp.spidsdk</string>
        <key>--create-docset</key>
        <true/>
        <key>--ignore</key>
        <array>
            <string>ThirdParty</string>
            <string>Libraries</string>
            <string>Frameworks</string>
            <string>Testing</string>
            <string>builds</string>
            <string>SPiDExampleApp</string>
            <string>SPiDExampleAppTests</string>
            <string>SPiDFacebookApp</string>
            <string>SPiDFacebookAppTests</string>
            <string>SPiDNativeApp</string>
            <string>SPiDNativeAppTests</string>
        </array>
        <key>--install-docset</key>
        <true/>
        <key>--output</key>
        <string>~/help</string>
        <key>--keep-intermediate-files</key>
        <true/>
        <key>--project-company</key>
        <string>Schibsted Payment</string>
        <key>--project-name</key>
        <string>SPiDSDK</string>
        <key>--project-version</key>
        <string>1.1.0</string>
        <key>--keep-undocumented-objects</key>
        <true/>
        <key>--keep-undocumented-members</key>
        <true/>
        <key>--warn-undocumented-object</key>
        <false/>
        <key>--warn-undocumented-member</key>
        <false/>
        <key>--warn-empty-description</key>
        <true/>
        <key>--warn-missing-arg</key>
        <true/>
        <key>--warn-unknown-directive</key>
        <true/>
        <key>--no-repeat-first-par</key>
        <true/>
        <key>--logformat</key>
        <string>xcode</string>
        <key>--exit-threshold</key>
        <integer>2</integer>
    </dict>
</plist>
